body{
    padding: 0;
    margin: 0;
    
}
/*---------------------Top Nav----------------------*/
.top-Nav{
    top: 0px;
    /*background: rgb(133, 5, 32);*/
    background: rgb(231, 19, 65);
    
    position: fixed;
    width: 100%;
    padding: 14px;
    
    /*border-bottom: 1px solid grey;*/
    z-index: 99;
}
.top-Nav  li {
    list-style: none;
    float: right;
    padding: 0 20px;
    padding-left: 0px;
    font-size: 13px;
    
    }
    .top-Nav  li a{
        font-weight: bold;
    display: block;
    padding: 8px;
    text-decoration: none;
    height: 100%;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
    }
    .top-Nav  li a:hover{
    background: darkorange;
    color: white;
    }

/*---------------SIDE NAV --------------*/

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    background: white;
    overflow-x: hidden;
    padding-top: 60px;
    }
    
    .sidenav h2 {
    color: rgba(230, 26, 26, 0.918);
    }
    .sidenav ul li {
    list-style: none;
    display: block;
    }
    .sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color:black;
    display: block;
    
    }
    
    .sidenav a:hover {
    color: rgba(252, 17, 17, 0.918);
    }
    
    #menu {
    padding: 10px;
    border-radius: 4px;
    color: rgba(243, 43, 17, 0.918);
    font-weight: bold;
    background: white;
    font-weight: bold;
    cursor: pointer;
    }
    .sidenav .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    }
    
/*---------------------holder----------------------*/
.hHearder{
    margin: auto;
    text-align: center;
    color: rgb(76, 192, 238);
}
h1{
    margin: auto;
    text-align: center;
    color: red;
}

.contentHolder{
    margin: auto 0 ;
    top: 85px;
  
    color: red;
    position: relative;
    /*padding-block-end: ;*/
    padding: 50px;
    text-align: center;
}

.contentHolder .linkes{
    align-items: center;
    background: blueviolet; 
    padding: 30px; 
    border-radius: 5px;  
    display: inline-block;
    
    text-align: center;
}
.contentHolder a{
    padding-block-end: 20px;
    text-decoration: none;
    color: white;
}


.contentHolder li {
    padding: 10px;
    list-style: none;
}





/*---------------------bottom Nav----------------------*/
.bottom-nav{
    bottom: 0px;
    background: rgba(247, 15, 65, 0.226);
    position: fixed;
    width: 100%;
    padding: 14px;
    
    /*border-bottom: 1px solid grey;*/
    z-index: 99;
}

    
    /*----------------------------------BOTTOM NAV---------------------------
    .bottom-Nav{
    bottom: 0px;
    background:white;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    }
    
    
    
    .bottom-Nav ul li  {
    float: left;
    list-style: none;
    text-align: center;
    display: block;
    
    }


    --*/


    .a-card .a-media {
        min-width: 350px;
         max-width: 450px;
         position: relative;
         width: 100%;
         transform: translateX(-15px);
        
     }
     
     .a-card .a-media::before {
         content: '';
         top: 0;
         left: 0;
         position: absolute;
         height:100%;
         width:100%;
         background: linear-gradient(to right,rgba(72,172,254,.8),
                                             rgba(0,254,254,.8) );
         box-shadow: .5rem .5rem .3rem 1px rgba(0, 0,0, .05);
         border-radius: 8px;
     }